<ion-header>
  <ion-toolbar>

    <!-- Ícone para voltar -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/usuarios"></ion-back-button>
    </ion-buttons>

    <ion-title>Artigo completo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="art">

  <div class="ion-text-center">
    <ion-img src="{{ art.image }}"></ion-img>
  </div>

  <h2 class="ion-text-center">{{ art.title }}</h2>
  <small class="date-time">{{ art.date | date :'d/m/Y'}} às {{ art.date | date :'H:mm'}}.</small>
  <div [innerHTML]="art.body"></div>

  <ion-button class="ion-margin-top" size="block" routerLink="/usuarios">&larr; Voltar</ion-button>

  <ion-item-divider class="ion-margin-bottom"></ion-item-divider>

  <div *ngIf="auth.user">
    <ion-label>Deixe seu comentário:</ion-label>
    <ion-textarea [(ngModel)]="comment" auto-grow></ion-textarea>
    <ion-button (click)="sendComment()">Enviar</ion-button>
    <ion-item-divider class="ion-no-padding"></ion-item-divider>
  </div>

  <h3>Comentários</h3>

</ion-content>
